<div class="container" >
<div class="col-md-12">



  <h1>Popunite formu </h1>
  <div class="d-flex justify-content-center" style="background-color: #ebf7fc">
  <div class="col-md-6" >

    <form class="aa"  #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
      <div ngModelGroup = "unos_telefona" #unos_telefona = "ngModelGroup" >

      <label > Odaberite marku : </label>
      <div>

      <select [(ngModel)]= "marka" name="marka"  >

      <option value=" " ></option>
        <option *ngFor="let a of this.s.marke " [value]="a.id">{{a.marka_naziv}}</option>
      </select><br>
        <label > Odaberite model : </label>


        <div (click)="marka_model()">

          <select [(ngModel)]= "model" name="marka">

            <option  *ngFor="let a of this.prilagodjeni_modeli " [value]="a" >{{a}}</option>
          </select><br>
          <div class="alert-danger" *ngIf="upozorenje_selekt === true">
            <p>Selektujte prvo marku telefona .</p>
          </div>
      </div>
      </div>

      <label > Unesi cijenu uredjaja : </label>
      <div  style="text-align: center;">
        <input [(ngModel)] = "cijena" name="cijena"  class="form-control"   placeholder="" style="width:80px ">

      </div>

      <div class="form-group">
        <label >Unesi opis : </label>
          <textarea [(ngModel)] = "opis" name="opis" class="form-control" id="textAreaExample" rows="4"></textarea>

      </div>
      <div class="form-group ">
        <label >Prodavac:</label>
        <input [(ngModel)] = "prodavac" name="prodavac" class="form-control"   placeholder="">
      </div>
      <div class="form-group ">
        <label >Unesi kontakt telefon:</label>
        <input [(ngModel)] = "kontakt" name="kontakt" class="form-control"   placeholder="">
      </div>
      <div class="form-group ">
        <h1 *ngIf="this.s.spiner===true">Vas post ce biti uskoro proslijedjen....</h1>
        <div *ngIf="this.s.spiner===true" class="spinner-border" role="status" style="height: 200px;width: 200px"><span class="sr-only">Loading...</span></div>

        <label ><b>Unesi konfiguracije:</b></label><br>
        <div class="row">

        <div class='col'>
        <label >Procesor:</label><input [(ngModel)] = "procesor" name="procesor" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
        <label >Baterija:</label><input [(ngModel)] = "baterija" name="baterija" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
        <label >Ram memorija</label><input [(ngModel)] = "ram" name="ram" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
        <label >Zadnja kamera:</label><input [(ngModel)] = "kamera_zadnja" name="kamera_zadnja" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
        <label >Prednja kamera:</label><input [(ngModel)] = "kamera_prednja" name="kamera_prednja" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
       <label >Velicina ekrana:</label><input [(ngModel)] = "ekran" name="ekran" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
      <label >Memorija telefona:</label><input [(ngModel)] = "memorija" name="memorija" class="form-control"   placeholder="" style="width: 150px;">
    </div>
      </div>
      </div>

      <div class="form-group" >
        <label >Ubaci slike</label>
        <div class="col-lg-4">
        <input class="btn btn-primary" type="file" id="myFile" name="slika"   (change)="onChangeFile($event)" multiple>
        <img *ngFor="let url of urls" [src] = "url" height="50">

      </div>
      <label>Postavite sifru proizvoda pomocu koje cete kasnije imati mogucnost da sami uklonite proizvod kad to pozelite</label>
      <input [(ngModel)] = "sifra" name="sifra" class="form-control"   placeholder="" style="width: 150px;">







      </div>

      </div>


      <button type="submit"  class="btn btn-primary ,d-flex justify-content-center" >Submit</button>

    </form>
    <div class="alert alert-primary" role="alert" *ngIf="promjena1===true">
     Vas post je trenutno na provjeri ispravnosti od strane admina .<br>
      Ukoliko se utvrdi da Vas post ispunjava kriterijume, isti ce biti ubrzo objavljen. <br>
      Hvala na koriscenju aplikacije !
      <button class="btn-primary" [routerLink]="['/telefon']" >ok</button>
    </div>

</div>
  </div>

  <div class="col-md-3">




  </div>

</div>

</div>





