<div class="container-fluid " >
<div class="col-md-12">


<div class="">
  <div>
    <h1 >Popunite formu </h1>
  </div>

</div>

  <div class="d-flex justify-content-center p-5" style="background-color: #ffffff">
  <div class="col-md-12" >

    <form class="aa"  #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
      <div ngModelGroup = "unos_telefona" #unos_telefona = "ngModelGroup" >



<div class="row">


      <div class="col-md-6 col-sm-6">
        <label > Odaberite marku : <span class="req">*</span></label>
      <select class="form-control" [(ngModel)]= "marka" name="marka"  >

      <option value=" "  ></option>
        <option *ngFor="let a of this.s.marke " [value]="a.id">{{a.marka_naziv}}</option>
      </select><br>

      </div>

        <div class="col-md-6 col-sm-6" (click)="marka_model()">
          <label > Odaberite model :<span class="req">*</span> </label>

          <select class="form-control" [(ngModel)]= "model" name="marka">

            <option value=" " >Unesi model <span class="req">*</span></option>
            <option  *ngFor="let a of this.prilagodjeni_modeli " [value]="a" >{{a}}</option>
          </select><br>
          <div class="alert-danger" *ngIf="upozorenje_selekt === true">
            <p>Selektujte prvo marku telefona .</p>
          </div>
      </div>
      </div>

      <label > Unesi cijenu uredjaja : <span class="req">*</span></label>
      <div  style="text-align: center;">
        <input [(ngModel)] = "cijena" name="cijena" type="number" class="form-control "   placeholder=""  style="width:80px ">

      </div>
      Ocuvanost uredjaja:<span class="req">*</span>
      <div style="font-size:large; color: orange">
        <ngb-rating [max]="5" [(rate)]= "currentRate" [readonly] = "false" font-size = "12">

        </ngb-rating>
      </div>

      <div class="form-group">
        <label >Unesi opis : <span class="req">*</span></label>
          <textarea [(ngModel)] = "opis" name="opis" class="form-control" id="textAreaExample" rows="4"></textarea>

      </div>
      <div class="form-group ">
        <label >Prodavac: <span class="req">*</span></label>
        <input [(ngModel)] = "prodavac" name="prodavac" class="form-control"   placeholder="">
      </div>
      <div class="form-group ">
        <label >Unesi kontakt telefon: <span class="req">*</span></label>
        <input [(ngModel)] = "kontakt" name="kontakt" class="form-control"   placeholder="">
      </div>
      <div class="form-group ">




        <div class="row" >

        <div class='col'>
        <label >Procesor:</label><input [(ngModel)] = "procesor" name="procesor" class="form-control"   placeholder="" style="width: 150px;">
      </div>
      <div class='col'>
        <label >Baterija:</label><input [(ngModel)] = "baterija" name="baterija" class="form-control"   placeholder="" style="width: 150px;">
      </div>

      <div class='col'>
       <label >Velicina ekrana:</label><input [(ngModel)] = "ekran" name="ekran" class="form-control"   placeholder="" style="width: 150px;">
      </div>

      </div>
      </div>
      <div class="zoom" (change)="postavi_parametre_kamPrednja(c.value)">
        <select #c class="form-control">
          <option value="" >Prednja kamera</option>
          <option value="8">8MP</option>
          <option value="12">12MP</option>
          <option value="18">18MP</option>
          <option value="24">24MP</option>
          <option value="36">36MP</option>
          <option value="48">48MP</option>
        </select>


      </div>
      <div class="zoom" (change)="postavi_parametre_ram(b.value)">
        <select #b class="form-control">
          <option value="" >Izaberite ram</option>
          <option value="2">2Gb</option>
          <option value="4">4Gb</option>
          <option value="6">6Gb</option>
          <option value="8">8Gb</option>
          <option value="10">10Gb</option>
          <option value="12">12Gb</option>
        </select>


      </div>
      <div class="zoom" (change)="postavi_parametre_kamZadnja(e.value)">
        <select #e class="form-control">
          <option value="" >Zadnja kamera</option>
          <option value="8">8MP</option>
          <option value="12">12MP</option>
          <option value="18">18MP</option>
          <option value="24">24MP</option>
          <option value="36">36MP</option>
          <option value="48">48MP</option>
        </select>
      </div>
      <div class="zoom" (change)="postavi_parametre_memorija(i.value)">
        <select #i class="form-control">
          <option value="" >Memorija</option>
          <option value="8">8Gb</option>
          <option value="16">16Gb</option>
          <option value="32">32Gb</option>
          <option value="64">64Gb</option>
          <option value="128">128Gb</option>

        </select>
      </div>
      <div *ngIf="s.spinerOglas===true"  role="status">
        <img alt="Responsive image" class="img-fluid"
        src="assets/mobileg.gif" style="height: 150px">
      </div>
      <div class="form-group" >
        <label >Ubaci slike <span class="req">*</span></label>
        <div class="col-lg-4">
        <input class="btn btn-primary" type="file" id="myFile" name="slika"   (change)="onChangeFile($event)" multiple>
        <img *ngFor="let url of prikazSlike" [src] = "url" height="50">

      </div>
      <label>Postavite sifru proizvoda pomocu koje cete kasnije imati mogucnost da sami uklonite proizvod kad to pozelite <span class="req">*</span> </label>
      <input [(ngModel)] = "sifra" name="sifra" class="form-control"   placeholder="" style="width: 150px;">







      </div>

      </div>


      <button type="submit"  class="btn btn-success ,d-flex justify-content-center" >Submit</button>
    </form>
    <!-- <button  class="btn btn-primary" (click)="otvori()">Unesi konfiguracije: </button> -->

    <div class="alert alert-primary" role="alert" *ngIf="promjena1===true">
     Vas post je trenutno na provjeri ispravnosti od strane admina .<br>
      Ukoliko se utvrdi da Vas post ispunjava kriterijume, isti ce biti ubrzo objavljen. <br>
      Hvala na koriscenju aplikacije !
      <button class="btn-primary" [routerLink]="['/telefon']" >ok</button>
    </div>

</div>
  </div>
  </div>



</div>






