.col-md-6{
  background-color: #ffffff;


}

.aa{

  border-radius: 0.25rem;
  border: #f7951b;

}
.container-fluid{
  background-color: #f6f6f6;
}


@media only screen and (min-device-width: 600px ) {
  .dugmeZaJosOpsa {
    display: inline-flex;
    position: relative;
    padding-left: 80%;
  }
}

.req{
  color:red

}

