#header{



}
.cpu{
  height: 70px;width: 140px
}

slideshow-preview{
 width: 500px;
height:300px;
overflow:hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: -150px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 100px;
  height: 20px;
  border: 2px solid rgb(51, 42, 133);
  margin: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: rgb(22, 67, 109);
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 1s;
}
.slide img{
  width: 50%;
  height: 90%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;

}
