<div class="container-fluid">
  <div class="row">
  <div class=" d-flex justify-content-left" id="heder"  >
<h1>
  <img src="{{this.s.telefonId.mark_id.slika}}"  height="100px" width="100px" style="image-resolution: normal" >
  {{this.s.telefonId.model}}
    </h1>
  </div>
  </div>

    <div  class="col-md-12, d-flex justify-content-center" >


      <img src="{{this.s.telefonId.slika_id.slika1}}"  height="500px" width="400px" style="image-resolution: normal" >



















  </div>






































</div>
