<div class="container-fluid">
  <div class="row">

  <div class=" d-flex justify-content-left" id="heder"  >
<h1>
  <img src="{{this.s.telefonId.mark_id.slika}}"  height="100px" width="100px" style="image-resolution: normal" >

    </h1>
    <div class="container">
      <div class="justify-content-center">
        <button  (click)="obrisi()">Obrisi oglas</button>
      </div>
      <div *ngIf="brisanjePregled === true">
        <label style="margin-top: 5px;">Unesite sifru telefona koju ste postavili kad ste objavljivali oglas:</label>
        <div>
        <input type="input" [(ngModel)] = "sifra" name="sifra">
      </div>
      <div>
        <button type="submit" (click)="PotvrdiBrisanje(id)" style="margin-top: 5px; margin-left: 110px;">Potvrdi</button>
      </div>
      </div>
    </div>


  </div>
  </div>

    <div  class="slideshow-preview" style="text-align: center" >
      
      <div class="slides">
        <input type="radio" name="r" id="r1" checked>
        <input type="radio" name="r" id="r2">
        <input type="radio" name="r" id="r3">
        <div class="slide s1">
          <img src="http://localhost:8000/storage/slike/{{this.s.telefonId.slika_id.slika1}}" class="responsive" >
        </div>
        <div class="slide">
          <img src="http://localhost:8000/storage/slike/{{this.s.telefonId.slika_id.slika2}}" class="responsive" >
        </div>
        <div class="slide">
          <img src="http://localhost:8000/storage/slike/{{this.s.telefonId.slika_id.slika3}}" class="responsive" >
        </div>
        <div class="navigation">
          <label for="r1" class="bar"></label>
          <label for="r2" class="bar"></label>
          <label for="r3" class="bar"></label>
        </div>


  </div>
  <div class="col-md-12, d-flex justify-content-center">      <h1>  {{this.s.telefonId.mark_id.marka_naziv}}    {{this.s.telefonId.model}}</h1>     </div>


  <div style="text-align: center" >



    <table class="table ">



      <tbody>



      <tr>

        <td>    <img class="cpu"  src="{{cpu}}"  > <h1> {{this.s.telefonId.specifikacije.procesor}}</h1></td>
        <td><img class="cpu"  src="{{dis}}" ><h1> {{this.s.telefonId.specifikacije.ekran}}</h1></td>

      </tr>
      <tr>

        <td> <img class="cpu"  src="{{bat}}" > <h1> {{this.s.telefonId.specifikacije.baterija}}</h1></td>
        <td><img class="cpu"  src="{{mem}}" ><h1> {{this.s.telefonId.specifikacije.memorija}}</h1></td>
      </tr>
      <tr>

        <td><img class="cpu"  src="{{ram_url}}" ><h1> {{this.s.telefonId.specifikacije.ram}}</h1></td>
        <td><img class="cpu"  src="{{cam}}" > <h1> Prednja kamera: {{this.s.telefonId.specifikacije.kamera_prednja}}<br>Zadnja kamera  {{this.s.telefonId.specifikacije.kamera_zadnja}}</h1></td>
      </tr>
      </tbody>
  </table>

  </div>
  <a href="Tel:067-111-111">067-111-111  KLIKNI DA NAZOVES PRODAVCA</a>
   

    






















  </div>


































</div>
