<<div class="container-fluid">
  <div class="row">

    <div class=" d-flex justify-content-left" id="heder"  >
      <h1>
        <img src="{{this.telefon[0]?.mark_id.slika}}"  height="100px" width="100px" style="image-resolution: normal" >

      </h1>


    </div>
  </div>
  <div class="col-md-12, d-flex justify-content-center">      <h1>  {{telefon[0]?.mark_id.marka_naziv}}    {{telefon[0]?.model}}</h1>     </div>


  <div class="text-center" *ngFor="let a of telefon[0]?.slika;index as i">
    <div><img *ngIf="this.promjena===i"  src="http://localhost:8000/storage/slike/{{a.slika}}" class="img-fluid" alt="Responsive image" style="height:350pt;width:450pt " ></div>



  </div>
  <br>

  <div class="row" style="text-align: center">
    <div  *ngFor="let a of telefon[0]?.slika;index as i" >
      <div  class="col-md-12">  <span><img id="a"(click)="this.promjena=i" src="http://localhost:8000/storage/slike/{{a.slika}}"  alt="Responsive image" style="height:50pt;width:50pt;margin-left:5px " ></span></div>

    </div>



  </div>





  <div style="text-align: center" >



    <table class="table ">

      <tbody>

      <tr>

        <td>    <img class="cpu"  src="{{cpu}}"  > <h1> {{telefon[0]?.specifikacije.procesor}}</h1></td>
        <td><img class="cpu"  src="{{dis}}" ><h1> {{telefon[0]?.specifikacije.ekran}}</h1></td>

      </tr>
      <tr>

        <td> <img class="cpu"  src="{{bat}}" > <h1> {{telefon[0]?.specifikacije.baterija}}</h1></td>
        <td><img class="cpu"  src="{{mem}}" ><h1> {{telefon[0]?.specifikacije.memorija}}</h1></td>
      </tr>
      <tr>

        <td><img class="cpu"  src="{{ram_url}}" ><h1> {{telefon[0]?.specifikacije.ram}}</h1></td>
        <td><img class="cpu"  src="{{cam}}" > <h1> Prednja kamera: {{telefon[0]?.specifikacije.kamera_prednja}}<br>Zadnja kamera  {{telefon[0]?.specifikacije.kamera_zadnja}}</h1></td>
      </tr>
      </tbody>
    </table>




<div class="justify-content-center">
    <button class="btn-success"style="height: 100px;width: 200px"(click)= "postavi() " [routerLink]="['/admin']">Postavi</button>
    <button class="btn-danger"style="height: 100px;width: 200px" (click)="obrisi()" [routerLink]="['/admin']">Obrisi</button>
    </div>

  </div>
</div>
