<link rel="preconnect" href="https://fonts.gstatic.com" xmlns:paginate="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap" rel="stylesheet">






  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->


<body>
<header class="header-wrapper">
  <!-- Header Nav Start -->
  <div class="header-nav">
    <div class="container">
      <div class="header-nav-wrapper d-md-flex d-sm-flex d-xl-flex d-lg-flex justify-content-between">
        <div class="header-static-nav">
          <p>Dobrodošli u TelefonDiler!</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Header Nav End -->
  <div class="header-top bg-white ptb-30px d-xl-block d-none">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="logo">
            <img style="height: 150px ;border-radius: 50%" class="img-responsive" src="assets/logo.png"  />
          </div>
        </div>

      </div>
      <!--Cart info End -->
    </div>
  </div>

  <!-- Header Nav End -->
</header>

      <!-- Header Tools End -->


<!-- Search Category Start -->

<!-- Search Category End -->

<!-- Mobile Header Section End -->
<!-- OffCanvas Wishlist Start -->

<!-- OffCanvas Cart End -->

<!-- OffCanvas Search Start -->


<div class="offcanvas-overlay"></div>
<!-- Breadcrumb Area Start -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-content">
          <ul class="nav">

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Area End-->
<!-- Shop Category Area End -->
<div class="shop-category-area mt-30px">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
        <!-- Shop Top Area Start -->
        <div class="shop-top-bar d-flex">
          <!-- Left Side start -->
          <div class="shop-tab nav d-flex">
            <a class="active" href="#shop-1" data-toggle="tab">
              <i class="fa fa-th"></i>
            </a>
            <a href="#shop-2" data-toggle="tab">
              <i class="fa fa-list"></i>
            </a>
            <p>Postoji {{s.duzinatelefona}} telefona.</p>
          </div>
          <!-- Left Side End -->
          <!-- Right Side Start -->
          <div class="select-shoing-wrap d-flex">
            <div class="shot-product">
              <p>Sortiraj:</p>
            </div>
            <div class="shop-select" (change)= "s.sortCijena(l.value)">
              <select #l>
                <option value=""></option>
                <option value="0">Cijena najmanja-najveća</option>
                <option value="1"> Cijena najveća-najmanja</option>

              </select>
            </div>
          </div>
          <!-- Right Side End -->
        </div>
        <!-- Shop Top Area End -->

        <!-- Shop Bottom Area Start -->
        <div class="shop-bottom-area mt-35">
          <!-- Shop Tab Content Start -->
          <div class="tab-content jump">
            <!-- Tab One Start -->
            <div id="shop-1" class="tab-pane active">
              <div class="row responsive-md-class responsive-xl-class responsive-lg-class">
                <div  *ngFor="let a of s.telefoni | paginate: {
                                                      itemsPerPage:12,
                                                      currentPage: p
                                                       }" class="col-xl-3 col-md-4 col-sm-6" [routerLink]="['/telefon-detalji',a.slika.telefon_id]" >



                                    <article class="list-product">
                                      <div class="img-block">
                                        <a  class="thumbnail">
                                          <img class="first-img" style="height:300px"  src="http://localhost:8000/storage/slike/{{a.slika.slika}} " />

                                        </a>
                                        <div class="quick-view">
                                          <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                            <i class="ion-ios-search-strong"></i>
                                          </a>
                                        </div>
                                      </div>
                                      <ul class="product-flag">
                                        <li class="new">New</li>
                                      </ul>
                                      <div class="product-decs">
                                        <a class="inner-link" href="shop-4-column.html"><span>{{a.naziv}}</span></a>
                                        <h2>{{a.model}}</h2>
                                        <div style="font-size: larger; color: orange">
                                          <ngb-rating [max]="5" [(rate)]= "a.stanje" [readonly] = "true">

                                          </ngb-rating>
                                        </div>
                                        <div class="pricing-meta">
                                          <ul>

                                            <li class="current-price">€{{a.cijena}}</li>

                                          </ul>
                                        </div>
                                      </div>
                                      <div class="add-to-link">
                                        <ul>

                                          <li>
                                            <a ><i class="icon-heart"></i></a>
                                          </li>
                                          <li>
                                            <a ><i class="icon-shuffle"></i></a>
                                          </li>
                                        </ul>
                                      </div>
                                    </article>
                                  </div>
                                </div>
                              </div>
            <pagination-controls (pageChange)="p = $event"
                                           autoHide="true"
                                           directionLinks="true"
                                             nextLabel="Sledeca"
                                             previousLabel="Prethodna"
                                             responsive="true"
                                             screenReaderCurrentLabel="You're on page"
                                             screenReaderPageLabel="page"
                                            screenReaderPaginationLabel="Pagination"></pagination-controls>

                              <!-- Tab One End -->
            <!-- Tab Two Start -->
            <div id="shop-2" class="tab-pane">
              <div class="shop-list-wrap mb-30px scroll-zoom">
                <div class="row list-product m-0px">
                  <div class="col-md-12 padding-0px">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="left-img">
                          <div class="img-block">


                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 " >
    <textarea [(ngModel)]="objava" class="form-control"  placeholder="Postavite oglas i vaš kontakt "
              rows="5">
        </textarea>
                        <div class="text-center">
                        <button (click)="postaviPost()" class="btn btn-primary m-2 ">objavi</button>
                        </div>
                            <div class="product-intro-info" *ngFor=" let b of s.postovi">

            <pre class="oglas pt-2">
              <span class="float-right"> {{b.created_at}}</span> <br>
              <span class="embed-responsive float-left ml-2" rows="5">{{b.tekst}}</span></pre>
                            </div>
                          </div>


                          </div>

                      </div>
                </div>



            </div>
            <!-- Tab Two End -->
          </div>
          <!-- Shop Tab Content End -->
          <!--  Pagination Area Start -->

          <!--  Pagination Area End -->
        </div>
        <!-- Shop Bottom Area End -->
      </div>
      <!-- Sidebar Area Start -->

      <div class="col-lg-3 order-lg-first col-md-12 order-md-last mb-md-60px mb-lm-60px">
        <form>
        <div class="shop-sidebar-wrap">
          <div class="sidebar-widget padding-30px bg-light-gray-2 mb-30px">
            <h3 class="sidebar-title">Marka&Model</h3>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">


                      <div class="zoom" (change)="prenos(f.value)" >
                        <select  #f class="form-control mb-2" >
                          <option [value]="0">Izaberite marku</option>
                          <option *ngFor="let a of this.s.marke" [value]="a.id"> {{a.marka_naziv}} </option>

                        </select>
                      </div>

                      <div class="zoom" (change)="postavi_parametre(a.value)">
                        <select #a class="form-control mb-2">
                          <option value="" >Izaberite model </option>
                          <option *ngFor="let b of this.s.tel_marka_model" [value]="b.model_naziv">{{b.model_naziv}}</option>

                        </select>

                      </div>

                  </div>
                </div>
              </div> <!-- card -->
              <!-- card -->
            </div>
          </div>
          <ng5-slider  class="mb-5"  [(highValue)]="this.s1.filter.cijena_max" [(value)]="this.s1.filter.cijena_min" [options]="options" (change)="postavi_parametre_cijena()"></ng5-slider>



        <div class="shop-sidebar-wrap">
          <div class="sidebar-widget padding-30px bg-light-gray-2 mb-30px">
            <h3 class="sidebar-title">Filter</h3>



            <div class="zoom" (change)="postavi_parametre_ram(b.value)">
              <select #b class="form-control mb-2">
                <option value="" >Izaberite ram</option>
                <option value="2">2Gb</option>
                <option value="4">4Gb</option>
                <option value="6">6Gb</option>
                <option value="8">8Gb</option>
                <option value="10">10Gb</option>
                <option value="12">12Gb</option>
              </select>


            </div>
            <div class="zoom" (change)="postavi_parametre_kamPrednja(c.value)">
              <select #c class="form-control mb-2">
                <option value="" >Prednja kamera</option>
                <option value="8">8MP</option>
                <option value="12">12MP</option>
                <option value="18">18MP</option>
                <option value="24">24MP</option>
                <option value="36">36MP</option>
                <option value="48">48MP</option>
              </select>


            </div>
            <div class="zoom" (change)="postavi_parametre_kamZadnja(e.value)">
              <select #e class="form-control mb-2">
                <option value="" >Zadnja kamera</option>
                <option value="8">8MP</option>
                <option value="12">12MP</option>
                <option value="18">18MP</option>
                <option value="24">24MP</option>
                <option value="36">36MP</option>
                <option value="48">48MP</option>
              </select>
            </div>
            <div class="zoom" (change)="postavi_parametre_memorija(i.value)">
              <select #i class="form-control mb-2">
                <option value="" >Memorija</option>
                <option value="8">8Gb</option>
                <option value="16">16Gb</option>
                <option value="32">32Gb</option>
                <option value="64">64Gb</option>
                <option value="128">128Gb</option>

              </select>

            </div>

                </div>
              </div>
        </form>

<div class="text-center">
        <button class="btn btn-primary mt-5 " (click)="filtriraj()"   >Filtriraj</button>
</div>
            </div> <!-- card -->
            <!-- card -->
          </div>
        </div>
      </div>










<div class="footer-area">
  <div class="footer-container">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px">
            <div class="single-wedge">
              <h4 class="footer-herading">ABOUT US</h4>
              <p class="text-infor">We are a team of designers and developers that create high quality HTML template</p>
              <div class="need-help">
                <p class="phone-info">
                  NEED HELP?
                  <span>
                                                0123456789 <br />
                                                0123456789
                                            </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-2 mb-md-30px mb-lm-30px">

          </div>
          <div class="col-md-6 col-lg-2 mb-sm-30px mb-lm-30px">

          </div>
          <div class="col-md-6 col-lg-4 ">
            <div class="single-wedge">
              <h4 class="footer-herading">Kontaktirajte nas preko email-a</h4>
              <div class="subscrib-text">
                <p>Ukoliko imate imate bilo kakvih pitanja, mozete nas kontaktirati preko email-a</p>
              </div>
              <div class="col-md-10 d-flex justify-content-end pt-3 pb-2">
                <div class="text-center" >
                  <form [formGroup] = "question">
                  <input class="form-control"  placeholder="Vaša e-mail adresa ." formControlName = "email">
                  <input class="form-control" placeholder="Postavite pitanje?" formControlName="poruka">
                  <button type="submit" class="btn btn-success " (click) = "pitaj()"> Pitaj !</button>
                </form>
                </div>

              </div>

              <div class="social-info">
                <ul>
                  <li>
                    <a><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a><i class="icon-social-google"></i></a>
                  </li>
                  <li>
                    <a><i class="icon-social-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <p class="copy-text"> © 2021 <strong>Podgorica</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Area End -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12 mb-lm-100px mb-sm-30px">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/12.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/13.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/14.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/12.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/13.jpg" alt="">
                </div>
                <div class="swiper-slide">
                  <img class="img-responsive m-auto" src="assets/customcss/images/product-image/14.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="product-details-content quickview-content">
              <h2>Originals Kaval Windbr</h2>
              <p class="reference">Reference:<span> demo_17</span></p>
              <div class="pro-details-rating-wrap">
                <div class="rating-product">
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                  <i class="ion-android-star"></i>
                </div>
                <span class="read-review"><a class="reviews" href="#">Read reviews (1)</a></span>
              </div>
              <div class="pricing-meta">
                <ul>
                  <li class="old-price not-cut">€18.90</li>
                </ul>
              </div>
              <p class="quickview-para">Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
              <div class="pro-details-size-color">
                <div class="pro-details-color-wrap">
                  <span>Color</span>
                  <div class="pro-details-color-content">
                    <ul>
                      <li class="blue"></li>
                      <li class="maroon active"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pro-details-quality">
                <div class="cart-plus-minus">
                  <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                </div>
                <div class="pro-details-cart btn-hover">
                  <a href="#"> + Add To Cart</a>
                </div>
              </div>
              <div class="pro-details-wish-com">
                <div class="pro-details-wishlist">
                  <a href="wishlist.html"><i class="ion-android-favorite-outline"></i>Add to wishlist</a>
                </div>
                <div class="pro-details-compare">
                  <a href="compare.html"><i class="ion-ios-shuffle-strong"></i>Add to compare</a>
                </div>
              </div>
              <div class="pro-details-social-info">
                <span>Share</span>
                <div class="social-info">
                  <ul>
                    <li>
                      <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



</body>

















