.spinner-border{


position: relative;
  left: 50%;
  top: 40%;
 width: 9rem; height: 9rem;

}

#postovi{
  background-color: #efebeb;

  background-size: contain;
  color: #000000;
  height: max-content;
  font-family:'Nova Slim',cursive
}

.oglas{
  background-color: #f1efef;
  border-radius: 5%;
  border-style: dashed;
  border-color: silver;
color: black;
  font-family:'Nova Slim',cursive

}
.telefoni_prazni{

  position: relative;
  text-align: center;
  left: 200px;
  top :300px;
  font-size: large;
  font-family: Arial;




}
#header1{

  background-image: url("src/assets/background.jpg");
  background-size: cover;

}
#textAreaExample{
  background-color: #f6f2f2;


}
#marke:hover{
  border-color: lightgreen;


}
#model:hover{
  border-color: blue;


}
.container-fluid{
  background-image: url("src/assets/back1.jpg");
  background-size: cover;
}

.zoom:hover{
  transform: scale(1.1);
  border-color:green ;
}


.telefon:hover{

  background-color: #bdcabe;
  transform: scale(1.1);
  border-style: solid;
  border-color: #65a15a;

}
.telefon{
  position: relative;
  margin:15px;
  width:200px;
  float: left;
  height: 100%;
  min-height: 1px;
}
.telefon .product-top {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.telefon .flash {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  float: left;
  line-height: 20px;
  height: 22px;
  min-width: 44px;
  padding: 0 5px;
  text-align: center;
  background-color: #65a15a;
  color: #fff;
  position: relative;
}
.telefon .flashr {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  float:right;
  line-height: 20px;
  height: 22px;
  min-width: 44px;
  padding: 0 5px;
  text-align: center;

  color: #110101;
  position: relative;
}
.container-fluid{
  font-family:'Nova Slim',cursive
}
