.spinner-border{


position: relative;
  left: 50%;
  top: 40%;
 width: 9rem; height: 9rem;

}

#postovi{
  background-image: url("src/assets/background.jpg");
  background-size: contain;
  color:white;
  height: max-content;

}

.oglas{
  background-color: white;
  border-radius: 5%;
color: black;

}
.telefoni_prazni{

  position: relative;
  text-align: center;
  left: 200px;
  top :300px;
  font-size: large;
  font-family: Arial;




}
#header1{
  text-align: center;height: 150px ;
  background-image: url("src/assets/background.jpg");
  background-size: cover;
background-repeat: no-repeat;
}
#textAreaExample{
  background-color: #d9e0e5;


}
#marke:hover{
  border-color: lightgreen;


}
#model:hover{
  border-color: blue;


}
.container-fluid{
  background-image: url("src/assets/back1.jpg");
  background-size: cover;
}

.zoom:hover{
  transform: scale(1.1);
  border-color:green ;
}


