
  <div class="row">

    <div class="col-md-10" style="background-color:lightcyan">
      <div class="container">

<div class="col-md-3"  *ngFor="let a of this.a.telefoni">
<img src="{{a.slika}}" style="max-width:200px;max-height: 500px;">
  <p>Kategorija:</p>
  <p>{{a.kategorija}}</p>


</div>
</div>






    </div>
    <div class="col-md-2" style="background-color: silver;color:white">
      <h1>R</h1><br>
      <h1>E</h1><br>
      <h1>K</h1><br>
      <h1>L</h1><br>
      <h1>A</h1><br>
      <h1>M</h1><br>
      <h1>A</h1><br>
    </div>
  </div>






















