.spinner-border{


position: relative;
  left: 50%;
  top: 40%;
 width: 9rem; height: 9rem;

}

#postovi{
  background-image: url("https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg");
  background-size: contain;
  color:white;
  height: max-content;

}

.oglas{
  background-color: white;
  border-radius: 5%;
color: black;

}
.telefoni_prazni{

  position: relative;
  text-align: center;
  left: 200px;
  top :300px;
  font-size: large;
  font-family: Arial;




}
#header1{
  text-align: center;height: 150px ;
  background-image: url("https://cdn.hipwallpaper.com/i/13/93/qJKcV8.jpg");
  background-size: cover;
background-repeat: no-repeat;
}
#textAreaExample{
  background-color: #d9e0e5;


}
