
  <div class="row">

    <div class="col-md-10" >
      <div class="container">



        <h1 style="text-align: center"> Ponuda polovnih telefona : </h1>
<div class="row" >
        <div class="col-md-3"  style="border-style: solid ; border-width: thin" *ngFor="let a of this.s.telefoni"  >
  <br>
<img src="{{a.slika1}}"class="img-fluid" alt="Responsive image" style="width:200px;height: 200px;">
          <p><b>Marka:</b>{{a.mark_id.marka_naziv}}  </p>
          <p><b>Cijena: </b> {{a.cijena}}</p>
           <button class="btn btn-primary">Pogledaj detaljno</button>



</div>
</div>
      </div>
      <div *ngIf="this.s.spiner===true" class="spinner-border" role="status"  style="text-align: center">
        <span class="sr-only">Loading...</span>
      </div>





    </div>
    <div id="postovi" class="col-md-2"   >
      <textarea   [(ngModel)] = "objava" class="form-control" id="textAreaExample" rows="2" placeholder="Postavite oglas i vas kontakt "></textarea>
      <button class="btn-primary" (click)="postaviPost()">objavi</button>
      <div *ngFor="let b of this.s.postovi" style="position: relative; right: 10px;">


<div>
        <br>
      <p class="oglas"  style="text-align: left">
        <span>Oglas od : {{b.created_at}}</span> <br>
      <span class="embed-responsive">{{b.tekst}}</span>


</div>

      </div>




    </div>
  </div>






















