.spinner-border{


position: relative;
  left: 50%;
  top: 40%;
 width: 9rem; height: 9rem;

}
.col-md-10 {
  background-color:lightcyan ;
}
#postovi{
  background-color: silver;
  color:white;
  height: 950px;
}
.oglas{
  background-color: white;
  border-radius: 5%;
color: black;

}
