.spinner-border{


position: relative;
  left: 50%;
  top: 40%;
 width: 9rem; height: 9rem;

}

#postovi{
  background-color: #787f8d;
  color:white;
  height: max-content;

}

.oglas{
  background-color: #e8eaf1;
  border-radius: 5%;
color: black;

}
.telefoni_prazni{

  position: relative;
  text-align: center;
  left: 200px;
  top :300px;
  font-size: large;
  font-family: Arial;




}
#header1{
  text-align: center;height: 100px ;background-color: #575e64;
}
#textAreaExample{
  background-color: #d9e0e5;


}
